* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;800&display=swap');

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $clr4;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: transparent;

}