.game-page {
    color: white;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-title {
        margin-block: 3rem;
        font-size: 4rem;
    }

    .cards-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;

    }
}