.nav-full {
    background-color: $clr2;


    .main-nav {
        height: 8vh;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding-inline: 1rem;

        .logo {
            font-size: 2rem;
            color: $clr3;
        }

        .nav-links {

            a {
                color: $clr3;
                font-size: 1.6rem;
                margin-inline-end: 1rem;
            }
        }
    }
}